<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60687238326-04aem74nlpp7sbuomm0ale1a92o5i40v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60687238326-04aem74nlpp7sbuomm0ale1a92o5i40v</string>
	<key>API_KEY</key>
	<string>AIzaSyAWd914a4nXNSsM452QAlLWrh1W0nXTXs4</string>
	<key>GCM_SENDER_ID</key>
	<string>60687238326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonahbrandwagt.coronaalert</string>
	<key>PROJECT_ID</key>
	<string>coronaalert-c9293</string>
	<key>STORAGE_BUCKET</key>
	<string>coronaalert-c9293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60687238326:ios:b7e0b43ab95bda54e1d217</string>
	<key>DATABASE_URL</key>
	<string>https://coronaalert-c9293.firebaseio.com</string>
</dict>
</plist>